# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build
/dist
/dist-electron
/dist-release
/public/*.exe
/public/*.zip

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# build logs
build_log.txt
error_full.txt
detailed_error.log

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts